<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>VUEJS</title>
  </head>

  <body>
    <div id="app" class="container">
      <div class="row">
        <div class="col-sm-3 card text-white bg-info" >
          <div class="card-body">
            <h5 class="card-title">Characters</h5>
            <p class="card-text"></p>
            <a href="#" @click='loadCharacters(jsonObject.characters)' class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="col-sm-3 card text-white bg-info" >
          <div class="card-body">
            <h5 class="card-title">episodes</h5>
            <p class="card-text"></p>
            <a href="#" @click='loadEpisodes(jsonObject.episodes)' class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="col-sm-3 card text-white bg-info" >
          <div class="card-body">
            <h5 class="card-title">quotes</h5>
            <p class="card-text"></p>
            <a href="#" @click='loadQuotes' class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="col-sm-3 card text-white bg-info" >
          <div class="card-body">
            <h5 class="card-title">deaths</h5>
            <p class="card-text"></p>
            <a href="#" @click='loadDeaths' class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div v-if="episodes" class="row">
        <div border="3px solid black" class="col-sm-6 card text-white bg-secondary" v-for="episode in episodes">
            <p>Titulo:{{episode.title}}</p><br>
            <p>Temporada:{{episode.season}}</p><br>
            <p>Fecha de salida:{{episode.air_date}}</p><br>
            <p>id de episodio:{{episode.episode_id}}</p><br>
        </div>
      </div>
      <div v-if="characters" class="row">
        <div border="3px solid black" class="col-sm-6 card text-white bg-success" v-for="character in characters">
            <p>Personaje:{{character.name}}</p><br>
            <p>Cumpleaños:{{character.birthday}}</p><br>
            <p>Estado:{{character.status}}</p><br>
            <p>Apodo{{character.nickname}}</p><br>
        </div>
      </div>
      <div v-if="quotes" class="row">
        <div border="3" class="col-sm-6 card text-white bg-dark" v-for="quote in quotes">
            <p>ID:{{quote.quote_id}}</p><br>
            <p>Frase:{{quote.quote}}</p><br>
            <p>Autor:{{quote.author}}</p><br>
            <p>Serie:{{quote.series}}</p><br>
        </div>
      </div>
      <div v-if="deaths" class="row">
        <div border="3" class="col-sm-6 card text-white bg-danger" v-for="death in deaths">
            <p>Responsable:{{death.responsible}}</p><br>
            <p>Causa:{{death.cause}}</p><br>
            <p>Episodio:{{death.episode}}</p><br>
            <p>Temporada:{{death.season}}</p><br>
        </div>
      </div>
    </div>

    <script>
      // https://github.com/public-apis/public-apis#test-data
      // https://github.com/public-apis/public-apis#games--comics
      // http://api.icndb.com/jokes/random
      // https://official-joke-api.appspot.com/random_joke
      // https://yesno.wtf/api
      const App = new Vue({
        el: '#app',
        data: {
          jsonObject: {},
          episodes: null,
          characters: null,
          quotes: null,
          deaths: null
        },
        methods: {
            init() {
              fetch("https://www.breakingbadapi.com/api/")
              .then(response => response.json())
              .then(data => (this.jsonObject = data));
            },
            loadEpisodes(url){
              fetch(url)
              .then(response => response.json())
              .then(data => (this.episodes = data));
            },
            loadCharacters(url){
              fetch(url)
              .then(response => response.json())
              .then(data => (this.characters = data));
            },
            loadQuotes(url){
              fetch(url)
              .then(response => response.json())
              .then(data => (this.characters = data));
            },
            loadDeaths(url){
              fetch(url)
              .then(response => response.json())
              .then(data => (this.characters = data));
            }

        },
        mounted(){
            this.init()
        }
      })
    </script>
  </body>
</html>