<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>VUEJS</title>
  </head>

  <body>
    <div id="app" class="container">
      <div class="row">
        <div class="col-sm-3 card text-white bg-info" >
          <div class="card-body">
            <h5 class="card-title">Characters</h5>
            <p class="card-text"></p>
            <a href="#" @click='loadCharacters(jsonObject.characters)' class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="col-sm-3 card text-white bg-info" >
          <div class="card-body">
            <h5 class="card-title">episodes</h5>
            <p class="card-text"></p>
            <a href="#" @click='loadEpisodes(jsonObject.episodes)' class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="col-sm-3 card text-white bg-info" >
          <div class="card-body">
            <h5 class="card-title">quotes</h5>
            <p class="card-text"></p>
            <a href="#" @click='loadQuotes(jsonObject.quotes)' class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="col-sm-3 card text-white bg-info" >
          <div class="card-body">
            <h5 class="card-title">deaths</h5>
            <p class="card-text"></p>
            <a href="#" @click='loadDeaths' class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div v-if="episodes">
          <div v-for="episodes in episodes">
            <h2>Titulo:</h2>
            <p>{{episodes.title}}</p>
            <h4>Temporada:</h4>
            <p>{{episodes.season}}</p>
            <h4>Personajes:</h4>
            <div v-for="personajes in episodes.characters">
              <p>{{personajes}}</p>
            </div>
          </div>
        </div>
        <div v-if="characters">
            <div v-for="character in characters">
              <h2>Nombre:</h2>
              <p>{{character.name}}</p>
              <h4>Empleos:</h4>
              <p>{{character.occupation}}</p>
              <h4>Imagen:</h4>
              <img :src="character.img" width="350" height="300">
            </div>
        </div>
        <div v-if="quotes">
          <div v-for="quote in quotes">
            <h2>Quote:</h2>
            <p>{{quote.quote}}</p>
            <h4>Autor:</h4>
            <p>{{quote.author}}</p>
            <h4>Series:</h4>
            <p>{{quote.series}}</p>
          </div>
      </div>
      </div>
    </div>

    <script>
      // https://github.com/public-apis/public-apis#test-data
      // https://github.com/public-apis/public-apis#games--comics
      // http://api.icndb.com/jokes/random
      // https://official-joke-api.appspot.com/random_joke
      // https://yesno.wtf/api
      const App = new Vue({
        el: '#app',
        data: {
          jsonObject: {},
          episodes: null,
          characters: null,
          quotes: null,
          deaths: null
        },
        methods: {
            init() {
              fetch("https://www.breakingbadapi.com/api/")
              .then(response => response.json())
              .then(data => (this.jsonObject = data));
            },
            loadEpisodes(url){
              this.characters=null;
              this.episodes=null;
              this.quotes=null;
              this.deaths=null;
              fetch(url)
              .then(response => response.json())
              .then(data => (this.episodes = data));
            },
            loadCharacters(url){
              this.characters=null;
              this.episodes=null;
              this.quotes=null;
              this.deaths=null;
              fetch(url)
              .then(response => response.json())
              .then(data => (this.characters = data));
            },
            loadQuotes(url){
              this.characters=null;
              this.episodes=null;
              this.quotes=null;
              this.deaths=null;
              fetch(url)
              .then(response => response.json())
              .then(data => (this.quotes = data));
            },
            loadDeaths(url){
              this.characters=null;
              this.episodes=null;
              this.quotes=null;
              this.deaths=null;
              fetch(url)
              .then(response => response.json())
              .then(data => (this.deaths = data));
            }

        },
        mounted(){
            this.init()
        }
      })
    </script>
  </body>
</html>