<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Prueba segunda evaluación</title>
</head>

<body>
    <div id="app" class="container">

        <div v-for="user in jsonObject.results">
            <div v-if="user.gender == 'male'" style="background-color: dimgray;">
                {{user.name.first}}
                asdf
            </div>
            <div v-else style="background-color: lightblue;">
               asdff {{user.name.first}}
            </div>

        </div>
    </div>
</body>


<script>

    const App = new Vue({
        el: '#app',
        data: {
            jsonObject: {}
        },
        methods: {
            init() {
                fetch("https://randomuser.me/api/")
                    .then(response => response.json())
                    .then(data => (this.jsonObject = data));
            }
        },
        mounted() {
            this.init()
        }
    })
</script>

</html>