<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Examen Segunda evaluación</title>
</head>

<body>
    <div id="app" class="container card">
        <div v-for="resultado in jsonObject.results" class="card text-white bg-secondary mb-3" role="alert">
            <h1 class="card-title text-center">Nombre: {{resultado.name.first}}</h1>
            <h2 class="card-title text-center">Apellido: {{resultado.name.last}}</h2>
            <h3>Edad: {{resultado.dob.age}}</h3>
            <h4 v-if="resultado.gender == 'male'"><small style="color:rgb(125, 240, 240)">Genero: {{resultado.gender}}</small></h4>
            <h4 v-else><small style="color: palevioletred">Genero: {{resultado.gender}}</small></h4>
            <p>Pais: {{resultado.location.country}}</p>
            <p>E-mail: {{resultado.email}}</p>
            <img width="200" class="mx-auto d-block rounded-circle" :src="resultado.picture.medium"/>
            <button @click="init" type="button" class="btn btn-warning">recargar</button>
            <h3 class="card-title text-center">Telefono: {{resultado.phone}}</h3>
        </div>
    </div>
</body>


<script>

    const App = new Vue({
        el: '#app',
        data: {
            jsonObject: {}
        },
        methods: {
            init() {
                fetch("https://randomuser.me/api/")
                    .then(response => response.json())
                    .then(data => (this.jsonObject = data));
            }
        },
        mounted() {
            this.init()
        }
    })
</script>

</html>